[Unit]
Description=Reset USB gadget UDC before usb-moded
Before=usb-moded.service
After=local-fs.target sys-kernel-config.mount
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/sh /userdata/usb-gadget-reset.sh

[Install]
WantedBy=basic.target
